<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ready for Your Next Project?</title>
		<style>
		{{{ page.css }}}
		</style>
	</head>
	<body class="body-gradient">
		<!-- <center> -->
			<header class="mb-12 text-center">
				<img
					class="mx-auto my-9"
					src="https://i.ibb.co/SrrM7dh/logo.png"
					alt="BIH Logo"
				/>
				<h1 class="banner-h1">Get 20% off</h1>
				<p class="text-secondary my-5">
					on your first order of any of our services.
				</p>
				<a href="https://wa.me/+8801986298579" target="_blank">
					<button
						class="scheduleBtn"
					>
						Schedule A Call
					</button>
				</a>
			</header>
	
			<main>
			<!-- -------------- SERVICES SECTION --------------- -->
				<section class="my-12">
					<h1
						class="service-h1"
					>
					Our <span class="text-primary">Comprehensive</span> Digital Solutions
					</h1>
	
					<div class="service-grid">
						<a
							class="no-underline"
							href="https://backbenchersithouse.com/uiUxDesign"
							target="_blank"
						>
							<div
								class="uiux"
							>
							<img
								class="mb-2.5"
								src="https://i.ibb.co/xzmWYQp/ui-ux.png"
								alt="UI/UX Design icon"
							/>
							<h2 class="text-sm text-heading font-semibold mb-1">
								UI/UX Design
							</h2>
							<p class="text-xs text-secondary">
								We prioritize user experience, ensuring every interaction with
								your brand is intuitive, engaging, and memorable, fostering
								long-lasting customer relationships.
							</p>
							</div>
						</a>
	
						<a
							class="no-underline"
							href="https://backbenchersithouse.com/webDesign"
							target="_blank"
						>
							<div
								class="webDesign"
							>
							<img
								class="mb-2.5"
								src="https://i.ibb.co/RjLW5jg/web-design.png"
								alt="Web Design icon"
							/>
							<h2 class="text-sm text-heading font-semibold mb-1">
								Web Design
							</h2>
							<p class="text-xs text-secondary">
								We employ cutting-edge digital marketing strategies to amplify
								your online presence, attract qualified leads, and drive
								targeted traffic to your website.
							</p>
							</div>
						</a>
	
						<a
							class="no-underline"
							href="https://backbenchersithouse.com/graphicsDesign"
							target="_blank"
						>
							<div
							class="graphicDesign"
							>
							<img
								class="mb-2.5"
								src="https://i.ibb.co/0Dn1y0S/graphic-design.png"
								alt="Graphic Design icon"
							/>
							<h2 class="text-sm text-heading font-semibold mb-1">
								Graphic Design
							</h2>
							<p class="text-xs text-secondary">
								We design visually captivating graphics that elevate your brand
								identity, enrich user experience, and inspire engagement.
							</p>
							</div>
						</a>
	
						<a
							class="no-underline"
							href="https://backbenchersithouse.com/webDevelopment"
							target="_blank"
						>
							<div
								class="webDev"
							>
							<img
								class="mb-2.5"
								src="https://i.ibb.co/bPgjpCY/web-dev.png"
								alt="Web Development icon"
							/>
							<h2 class="text-sm text-heading font-semibold mb-1">
								Web Development
							</h2>
							<p class="text-xs text-secondary">
								We craft high-performance, scalable websites that seamlessly
								integrate your brand identity, enhance user experience, and
								drive conversions.
							</p>
							</div>
						</a>
	
						<a
							class="no-underline"
							href="https://backbenchersithouse.com/appDevelopment"
							target="_blank"
						>
							<div
								class="appDev"
							>
							<img
								class="mb-2.5 h-6 w-6"
								src="https://i.ibb.co/Sxtk66S/app-dev.png"
								alt="App Development icon"
							/>
							<h2 class="text-sm text-heading font-semibold mb-1">
								App Development
							</h2>
							<p class="text-xs text-secondary">
								We engineer high-performance, scalable apps that seamlessly
								integrate your brand identity, elevate user experience, and
								propel conversions.
							</p>
							</div>
						</a>
	
						<a
							class="no-underline"
							href="https://backbenchersithouse.com/digitalMarketing"
							target="_blank"
						>
							<div
								class="digitalMarketing"
							>
							<img
								class="mb-2.5"
								src="https://i.ibb.co/n1XRCfZ/digital-marketing.png"
								alt="Digital Marketing icon"
							/>
							<h2 class="text-sm text-heading font-semibold mb-1">
								Digital Marketing
							</h2>
							<p class="text-xs text-secondary">
								We employ cutting-edge digital marketing strategies to amplify
								your online presence, attract qualified leads, and drive
								targeted traffic to your website.
							</p>
							</div>
						</a>
					</div>
				</section>
	
				<!-- -------------- CONSULTATION SECTION --------------- -->
				<section class="consultation">
					<div class="w-80 mx-auto">
						<h1 class="onsultation-h1">
							Embrace the Future of Digital Success
						</h1>
						<p class="text-xs font-medium mb-5">
							Together, we'll craft a digital strategy that propels your business
							to new heights of growth and profitability.
						</p>
						<a href="https://wa.me/+8801986298579" target="_blank">
							<button
								class="consultationBtn"
							>
							Schedule A Call
							</button>
						</a>
					</div>
				</section>
			</main>
	
			<footer class="my-10">
			<div class="flex justify-center gap-4 pb-6">
				<a href="https://twitter.com/ItBackbenchers" target="_blank"
				><img src="https://i.ibb.co/7v4Txj0/x.png" alt="x link"
				/></a>
				<a
				href="https://www.linkedin.com/company/backbenchers-it-house/"
				target="_blank"
				><img src="https://i.ibb.co/Bc8GpVX/linkedin.png" alt="linkedin link"
				/></a>
				<a
				href="https://www.facebook.com/profile.php?id=61554983307796"
				target="_blank"
				><img src="https://i.ibb.co/2FVgYmn/fb.png" alt="facebook link"
				/></a>
				<a href="https://www.instagram.com/backbenchersit2024/" target="_blank"
				><img src="https://i.ibb.co/H4vMYcG/ig.png" alt="instagram link"
				/></a>
			</div>
			<div class="text-center text-sm text-secondary">
				<p class="w-400 mx-auto">
				Want to change which emails you receive from us? You can update your
				preferences <a class="text-secondary" href="" target="_blank">here</a> or
				unsubscribe <a class="text-secondary" href="" target="_blank">here</a>. You
				can view our privacy policy <a class="text-secondary" href="" target="_blank">here</a>.
				</p>
				<hr class="my-4" style="width: 100%; border: 1px #a1a1a1 solid" />
				<p>&#169; Copyright 2024, All Rights Reserved</p>
			</div>
			</footer>
		<!-- </center> -->
	</body>
</html>
